<!DOCTYPE html>
<style>
body {
    background-color: #71c9fc;
}
h1 {
    color: white;
    text-align: center;
}
</style>
<h1>Edit Appointment</h1>
<body>
<%= render 'form' %>
<script>

var sdate = document.getElementById("theSDate").value;
var edate = document.getElementById("theEDate").value;
document.getElementById("theEDate").min = sdate;
var stime = document.getElementById("theSTime").value;
var etime = document.getElementById("theETime").value;
document.getElementById("theETime").min = stime;
function jsSetDatesfunction(){
  var stime=document.getElementById("theSTime").value;
  var sDate=document.getElementById("theSDate").value;
  var eDate=document.getElementById("theEDate").value;
  document.getElementById("theEDate").min=sDate;
  if(eDate==sDate){
    document.getElementById("theETime").min=stime;
  }
  else{
    document.getElementById("theETime").min="00:00";
  }
};
function jsSetTimefunction(){
var stime=document.getElementById("theSTime").value;
var sDate=document.getElementById("theSDate").value;
var eDate=document.getElementById("theEDate").value;
if(eDate==sDate){
  document.getElementById("theETime").min=stime;
}
else{
  document.getElementById("theETime").min="00:00";
}
};
</script>

<%= link_to 'Back', appointments_path %>
</body>
