<!DOCTYPE html>
<style>
body {
    background-color: #71c9fc;
}
h1 {
    color: white;
    text-align: center;
}
</style>
<h1>New Appointment</h1>
<body>
<%= render 'form' %>

<script>
var today = new Date();
document.getElementById("theSDate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
document.getElementById("theEDate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
document.getElementById("theEDate").min = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
document.getElementById("theSTime").value="08:00";
document.getElementById("theETime").value="09:00";
document.getElementById("theETime").min="08:00";
function jsSetDatesfunction(){
  var sdate=document.getElementById("theSDate").value;
  document.getElementById("theEDate").min=sdate;
};
function jsSetTimefunction(){
var stime=document.getElementById("theSTime").value;
document.getElementById("theETime").min=stime;
};
</script>

<%= link_to 'Back', appointments_path %>
</body>
